@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Palette */
  --ochre: #cc7722;
  --gold: #d4af37;
  --gold-light: #f4eeb1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ochre: var(--ochre);
  --color-gold: var(--gold);
  --color-gold-light: var(--gold-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  background-color: var(--ochre);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  min-height: 100vh;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}